# Name: Helicon Picker
# Author: Thorsten Wagner
# Requires: ImageJ 1.48u


Plugins>MPI-DO>Helical-Picker>Other, "Helicon_Exporter", de.mpi_dortmund.ij.mpitools.boxplacer.HeliconParticleExporter_
Plugins>MPI-DO>Helical-Picker>Other, "Ridge_Optimizer", de.mpi_dortmund.ij.mpitools.helicalPicker.Ridge_Optimizer
Plugins>MPI-DO>Helical-Picker, "Helical_Picker", de.mpi_dortmund.ij.mpitools.helicalPicker.Helical_Picker_
Plugins>MPI-DO>Helical-Picker>Userfilter, "Gold-dot-filter", de.mpi_dortmund.ij.mpitools.userfilter.GoldDotRemover_
Plugins>MPI-DO>Helical-Picker>Userfilter, "Gold-dot-filter2", de.mpi_dortmund.ij.mpitools.userfilter.GoldDotRemover2_